@import "~/src/scss/index.scss";

.nav_section {
  width: 100%;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  height: 55px;
  border-bottom: 2px solid #f1f1f1;
  z-index: 1;
  .nav_content {
    max-width: $max-width;
    margin: auto;
    flex-flow: row nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    height: 55px;
    // background-color: red;

    .logo a img {
      // float: left;
      // font-size: 25px;
      cursor: pointer;
      width: 175px;
    }
    button {
      background: none;
      border: 0;
      display: none;
      svg {
        width: 100%;
        display: block;
        height: 20px;
        fill: currentColor;
      }
    }
    .menu_list {
      // opacity: 1;
      ul {
        list-style: none;
        // overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        // background-color: red;
        gap: 15px;
        padding: 10px 0;
        li {
          a {
            display: block;
            // padding: 15px 10px;
            color: $text-dark;
            text-decoration: none;
            cursor: pointer;
            font-size: 14px;
          }
        }
      }
    }
  }
}

// Nav movil
@media (max-width: 500px) {
  .nav_section {
    backdrop-filter: none;
    background-color: #f1f1f1;
    .nav_content {
      flex-wrap: wrap;
      .responsive_menu_button {
        display: block;
        span {
          width: 20px;
          height: 3px;
          display: block;
          background: $text-dark;
          transform-origin: 5px 0px;
          transition: all 0.2s linear;
          margin-bottom: 3px;
          border-radius: 2px;
          &:nth-child(2) {
            height: 1.5px;
          }
        }
        &.active > span:nth-child(1) {
          // opacity: 0;
          transform: rotate(45deg) translate(0, 1px);
        }
        &.active span:nth-child(2) {
          opacity: 0;
        }
        &.active > span:nth-child(3) {
          transform: rotate(-45deg) translate(0px, -5px);
        }
      }

      .menu_list {
        width: 100%;
        position: relative;
        right: 500px;
        transition: all 0.3s linear;
        &.active {
          right: 0;
          // transition: all 1s linear;
        }
        ul {
          // display: none;
          flex-flow: column;
          margin-top: 10px;
          height: 1500px;
          gap: 30px;
          justify-content: start;
          backdrop-filter: blur(15px);
          background-color: rgb(255 255 255 / 78%);
          li {
            margin-top: 10px;
            a {
              color: $text-dark;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
