@import "~/src/scss/index.scss";

.nav_section {
  scroll-behavior: smooth;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  border-bottom: 2px solid #f1f1f1;
  z-index: 1;
  .nav_content {
    max-width: $max-width;
    margin: auto;
    flex-flow: row nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

    .logo a {
      margin-left: 10px;
      cursor: pointer;
      font-weight: bold;
      font-size: 20px;
    }
    button {
      background: none;
      border: 0;
      display: none;
      margin-right: 10px;
    }
    .menu_list {
      margin-right: 10px;
      ul {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        padding-left: 0;
        gap: 15px;
        li {
          a {
            display: block;
            color: $text-dark;
            text-decoration: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            padding: 5px;
            transition: 0.3s ease-in-out all;
          }
        }
      }
    }

    .menu_list_movil {
      display: none;
      position: absolute;
      width: 100%;
      top: 55px;
      // right: 500px;
      right: 100%;
      background: rgb(255 255 255 / 90%);
      backdrop-filter: blur(10px);
      transition: 0.3s ease-in-out all;
      ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 40px 0px;
        justify-content: flex-start;
        align-items: center;
        height: 900px;
        li {
          list-style: none;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }
}

// Nav movil
@media (max-width: $responsive_media) {
  .nav_section .nav_content .menu_list {
    display: none;
  }
  .nav_section .nav_content .menu_list_movil {
    display: block;
    &.active {
      right: 0%;
    }
  }
  .nav_section .nav_content .responsive_menu_button {
    display: block;
    span {
      width: 20px;
      height: 3px;
      display: block;
      background: $text-dark;
      transform-origin: 5px 0px;
      transition: all 0.2s linear;
      margin-bottom: 3px;
      border-radius: 2px;
      &:nth-child(2) {
        height: 1.5px;
      }
    }
    &.active > span:nth-child(1) {
      // opacity: 0;
      transform: rotate(45deg) translate(0, 1px);
    }
    &.active span:nth-child(2) {
      opacity: 0;
    }
    &.active > span:nth-child(3) {
      transform: rotate(-45deg) translate(0px, -5px);
    }
  }
}
