@import "~/src/scss/index.scss";

.first-block {

  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  background-image: url("../../../public/images/main.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:$text-light;
  min-height: 100dvh;
  justify-content: center;
  .img_block {
    width: 100%;
    display: flex;
    justify-content: center;
    .avatar_main{
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      animation: main_avatar_animation 2s linear infinite;
    }
  }
}
.avatar_main {

  border: 3px solid $text-yellow;
  padding: 2px;
  border-radius: 50%;
  background-image: url("../../../public/images/photo.webp");
  background-size: cover;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
}

.about_me_block {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px 0;
  h2 {
    color: $text-yellow;
    font-display: swap;
    font-weight: 900;
    margin-bottom: 0;
  }
  .dev_title .dev_title_span{
    font-weight: 700;
    font-size: 23px;
  }
  .typed-cursor{
    font-size: 23px;
  }

  .summary_about_me {
    width: 60%;
    margin-top: 15px;
  }
  .icons_profile a {
    text-decoration: none;
    color:$text-light;
    i{
      transition: 0.3s ease all;
      &:hover{
        transform: scale(1.2);
      }
    }
  }
  .download_button{
    margin-top: 15px;
  }
}


// Responsive
@media (max-width: $responsive_small) {
  .avatar_main {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: $responsive_media) {
  .first-block{
    min-height: 110dvh;
    .img_block .avatar_main{
      width: 170px;
      height: 170px;
    }
  }
  .about_me_block .summary_about_me {
    width: 80%;
  }

}


// Animaciones
@keyframes main_avatar_animation{
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100%{
    transform: translateY(0px);
  }
}
