@import "~/src/scss/index.scss";

.skills_section {
  padding: 60px 10px 100px 10px;
  margin: 10px auto;
  background-color: #f7f7f7;
  min-height: 100vh;
  .skill_content {
    display: flex;
    gap: 3rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: $max-width;
    margin: auto;
    .skill_icons_section {
      width: 55%;
      .tecnology_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-row-gap: 20px;
        .icon_container {
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          .icon_skill {
            width: 50px;
            height: 50px;
            transition: 0.3s ease all;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
    .skill_img {
      text-align: center;
      width: 45%;
      .skill_player {
        width: $img_width;
        text-align: center;
      }
    }
  }
}

@media (max-width: $responsive_media) {
  .skills_section {
    .skill_content {
    flex-direction: column;
    column-gap: 15px;
    .skill_icons_section {
      width: 90%;
    }
    .skill_img {
      width: 70%;
      .skill_player {
        width: 90%;
      }
    }
  }
}
}
