@import "~/src/scss/index.scss";

.skills_section {
  padding: 60px 10px 100px 10px;
  margin: 10px auto;
  background-color: #f7f7f7;
  min-height: 100vh;
  .skill_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: start;
    // max-width: $max-width;
    max-width: 800px;
    margin: auto;
    section{
      max-width: 350px;
      text-align: center;
      box-shadow: 0px 0px 8px 0px #e3e3e3;
      background-color: white;
      border-radius: 5px;
      padding: 20px 10px;
      margin: auto;
      width: 100%;
      box-sizing: border-box;
      h4{
        font-size: 20px;
        margin-top: 10px;
      }
      .tecnology_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-row-gap: 20px;
        .icon_container {
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          .icon_skill {
            width: 50px;
            height: 50px;
            transition: 0.3s ease all;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

@media (max-width: $responsive_media) {
  .skills_section {
    .skill_content {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 15px;
    .skill_icons_section {
      width: 90%;
    }
    .skill_img {
      width: 70%;
      .skill_player {
        width: 90%;
      }
    }
  }
}
}
