$first-color: #ffb633;
$second-color: #313131;
$third-color:#2c2c2c;


$shadow-color: #e1e1e1;



// Textos
$text_red: #F16767;
$text-light: white;
$text-dark: #58595b;
$text-yellow: #f3cc03;

// Barra
$bar-color: rgb(87,51,116);
// $bar-color: $text_red;
// $bar-color: #2f7af9;