@import "./colors.scss";
@import "./buttons.scss";

$min-height: 400px;
$img_width: 300px;

// Sections
$max-width: 900px;
$padding-section: 60px 10px 100px 10px;

// Responsive
$responsive_media: 700px;
$responsive_small: 400px;
$responsive_nav: 500px;