@import "~/src/scss/index.scss";
.about_me_section {
  padding: $padding-section;
  max-width: $max-width;
  margin: 10px auto;
  min-height: 450px;
  .about_me_content {
    display: flex;
    gap: 2px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;

    .about_me_img .about_me_player {
      width: $img_width;
    }
    .about_me_info {
      width: 45%;
      line-height: 25px;
      p{
        .bg_text{
          border-radius: 2px;
          padding: 0 2px;
        }
        .bg_yellow{
          background-color: #f3cc03;
          color: #002C40;
        }
        .bg_purple{
          background-color: #472562;
          color:white;
        }
        .bg_red{
          background-color: #f16767;
          color:white;
        }
        .text_line_bottom{
          border-bottom: 3px solid #f16767;
        }
      }
    }
  }
}

@media (max-width: $responsive_media) {
  .about_me_section .about_me_content {
    flex-direction: column;
    .about_me_info {
      width: 80%;
    }
    .about_me_img{
      text-align: center;
      .about_me_player {
        width: 70%;
      }
    }
  }
}
